/node_modules
/public/storage
/storage/*.key
/storage/app/public/*
/storage/app/trash/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/*
.idea/*
.editorconfig
*.tmp
*.zip
.idea/workspace.xml
